<div class="container">
    <br>
    <div class="row">
        <!-- <button class="btn btn-primary">Add</button> -->
        <div class="col-lg-10"><h5>Member Part</h5></div>
        <div class="col-lg-2"><a href="#" id="add_member" class="btn btn-primary btn-block"><i class="fas fa-plus"></i> Add Member</a></div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 col-6">
                    <div class="row">
                        <div class="col-lg-6">All Member in Event</div>
                        <div class="col-lg-6">Val1</div>
                    </div>
                </div>
                <div class="col-lg-12 col-6">
                    <div class="row">
                        <div class="col-lg-6">Event Per Person</div>
                        <div class="col-lg-6">Val1</div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-8">
            <table class="table" id="member_table">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">NickName</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">%Rehearsal</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>