{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Home page</title

<body>
<table style="width:100%" border="1" >
        <tr>
        <th>
 Member Form
 </th>
        </tr>
  <tr>
    <td> 
        <div>
            <label for="nickname">Nick Name:</label>
            <input type="text" id="nickname" name="nickname">
        </div>
        </td>
    </tr>
    <tr>
    <td>
    <div>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname">
        </div>
         </td> 
        </tr>
        <tr>
        <td>
        <div>
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname">
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div>
            <label for="student_ID">Student ID:</label>
            <input type="text" id="student_ID" name="student_id">
        </div>
        </td>
        </tr>
        <tr>
        <td>
         
        <div>
            <label for="faculty">Faculty:</label>
            <input type="text" id="Faculty" name="Faculty">
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div>
            <label for="department">Department:</label>
            <input type="text" id="department" name="department">
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div>
            <label for="Image">Image:</label>
            <button type="Uploaded.jpg">Uploaded.jpg</button>
            <img src="pic/1.jpg" border="5">
        </div>
        </td>
        </tr>
        <tr>
        <td>
        </p>Contact</p>
        
        <tr>
        <td>
        <div>
            <label for="tel">Tel:</label>
            <input type="text" id="tel" name="tel">
        </div>
        </td>
        </tr>
        <tr>
        <td>
        
        <div>
            <label for="facebook">FB:</label>
            <input type="text" id="facebook" name="facebook">
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div>
            <label for="line">Line:</label>
            <input type="text" id="line" name="line">
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </div>
        </t>
        </tr>
        
        <tr>
        <th>
        <center>
        <button type="submit">Submit</button>
        <button type="submit">Reset</button>
        </th>
        </tr>
       </table>
