<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Home page</title

<body><div>
<table style="width:50%" border="1" >
        <tr>
        <th>
 Event Form
 	</th>
        </tr>
	<tr><th>
            <label for="event_name">Event Name:</label>
            <input type="text" id="event_name" name="event_name">
<br><br>
	    <label for="location">Location:</label>
            <input type="text" id="location" name="location">
</br><br>

            <label for="date_time">Date/Time:</label>
            <input type="text" id="date_time" name="date_time">
</br>
	</th></tr>
        </div>
        </td>
   <tr>
        <td>
        <table style="height:100%" border="1">
        
        <td>
        <div>
            <label for="Type">Type:</label>
            <input type="text" id="Type" name="Type">
        </div>
        </td>
        
        
        <td>
         
        <div>
            <label for="Song">Song:</label>
            <input type="text" id="Song" name="Song">
        </div>
        </td>
        
        
        <td>
        <div>
            <label for="Member">Member:</label>
            <input type="text" id="Member" name="Member">
	<Left>
        <button type="Add">Add</button>
	<Right>
        <button type="Delete">Delete</button>
	
	
        </div>
            </td>
            </tr>
            
            </table></div>
	<tr>
        <th>
        <Left>
        <button type="Add Song">+Add Song</button>
        </th>
        </tr>
	
     
     

        
        <tr>
        <th>
        <center>
        <button type="submit">Submit</button>
        </th>
        </tr>
       </table>
