{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KDC Management System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'js/fontawesome-all.js' %}"></script>

        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-tabs" id="headerTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="home" aria-selected="true">Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="member-tab" data-toggle="tab" href="#member" role="tab" aria-controls="profile" aria-selected="false">Member</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="song-tab" data-toggle="tab" href="#song" role="tab" aria-controls="contact" aria-selected="false">Song</a>
                </li>
            </ul>
            <div class="tab-content" id="headerTabContent">
                <div class="tab-pane fade show active" id="event" role="tabpanel" aria-labelledby="event-tab">...</div>
                <div class="tab-pane fade" id="member" role="tabpanel" aria-labelledby="member-tab">...</div>
                <div class="tab-pane fade" id="song" role="tabpanel" aria-labelledby="song-tab">
                    <div class="container">
                        <table class="table">
                            {% for s in song %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                {%if s.song_ytlink != None %}
                                    <!-- <td><iframe src="https://www.youtube.com/embed/{{s.song_ytlink}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td> -->
                                    <td><button value="{{s.song_ytlink}}" class="btn" id="yt_button{{forloop.counter}}" data-toggle="modal" data-target="#videoModal"><i class="fas fa-play-circle"></i></button></td>
                                {%else%}
                                    <!-- <td><button class="btn" disabled="disabled"><i class="fas fa-ban"></i></button></td> -->
                                    <td></td>
                                {%endif%}
                                <td>{{s.song_name}}</td>
                                {%if s.song_artist != None %}
                                    <td>{{s.song_artist}}</td>
                                {%else%}
                                    <td></td>
                                {%endif%}
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="yt_video"></div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>