<!DOCTYPE html>
<html><center>
<head>
<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Home page</title

<body>
<table style="width:20%" border="1" >
        <tr><th>
      <center>Member Form</center>
 	</tr></th>
    <td> 
<div>
            <label for="nickname">Nick Name:</label>
            <input type="text" id="nickname" name="nickname">
        <br>
        <br>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname">
        </br>
         <br>
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname">
        </br>
         <br>
			<label for="student_ID">Student ID:</label>
            <input type="text" id="student_ID" name="student_id">
        </br>
	<br>
	<label for="Faculty">Faculty:</label>
            	<SELECT>
	        <OPTION SELECTED>---เลือกคณะ---
	            <OPTION VALUE=1>วิศวกรรมศาสตร์
	            <OPTION VALUE=2>วิทยาศาสตร์
		    <OPTION VALUE=3>ครุศาสตร์อุตสาหกรรมและเทคโนโลยี
		    <OPTION VALUE=4>คณะเทคโนโลยีสารสนเทศ
		    <OPTION VALUE=5>สถาปัตยกรรมศาสตร์และการออกแบบ
		    <OPTION VALUE=6>สถาบันวิทยาการหุ่นยนต์ภาคสนาม
		    <OPTION VALUE=7>อื่นๆ
		</SELECT>
        </br>
        <br>
            <label for="Image">Image:</label>
            <input type="text" id="Image" name="Image" >
	    <button type="Upload">Upload</button>
            <br>
	    <center>
	<br>
            <img src="JK1.jpg" width="200">
	</br>
            </center>
            <center></br>
		<table style="width:100%" border="1" >
        <center><br>
	<tr><th><center>Contact</center></tr></th>
    	<td> 
        <div>
	<br>
            <label for="Tel">Tel:</label>
            <input type="text" id="Tel" name="Tel">
   	</br>
	<br>
	    <label for="facebook">FB:</label>
            <input type="text" id="facebook" name="facebook">
   	</br>
	<br>
	    <label for="line">Line:</label>
            <input type="text" id="line" name="line">
   	</br>
	<br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </br>
	</center></br>
	</table>
         

	</div>
        </td>
	
	<tr>
        <th>
        <center>
        <button type="submit">Submit</button>
        <button type="submit">Reset</button>
        </th>
        </tr>
       </table>
</div></center>
