<div class="container">
    <br>
    <div class="row">
        <!-- <button class="btn btn-primary">Add</button> -->
        <div class="col-lg-10"><h5>Song Part</h5></div>
        <div class="col-lg-2"><button id="add_song" class="btn btn-primary btn-block" data-toggle="modal" data-target="#songFormModal"><i class="fas fa-plus"></i> Add Song</button></div>
    </div>
    <br>
    <table class="table" id="song_table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Song Name</th>
                <th scope="col">Artist</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="embed-responsive embed-responsive-16by9" id="yt_frame"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="songFormModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <form id="songForm" method="post" class="was-validated">
                <div class="modal-header">
                    <h5 class="modal-title">Song Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="song_id" class="col-lg-3 col-form-label">Song ID</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="song_id" placeholder="Song ID Here" readonly>
                        </div>
                        <div class="invalid-feedback">Example invalid feedback text</div>
                    </div>
                    <div class="form-group row">
                        <label for="song_name" class="col-lg-3 col-form-label">Song Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="song_name" placeholder="Song Name Here" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="song_artist" class="col-lg-3 col-form-label">Artist</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="song_artist" placeholder="Song Artist Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="song_ytlink" class="col-lg-3 col-form-label">Youtube Link</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="song_ytlink" placeholder="youtube.com/XXXXXX">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="songFormSubmit" class="btn btn-primary">Save</button>
                    <button id="songFormReset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>