<div class="container">
    <br>
    <div class="row">
        <!-- <button class="btn btn-primary">Add</button> -->
        <div class="col-lg-10"><h5>Event Part</h5></div>
        <div class="col-lg-2"><button id="add_event" class="btn btn-primary btn-block" data-toggle="modal" data-target="#eventFormModal"><i class="fas fa-plus"></i> Add Event</button></div>
    </div>
    <br>
    <table class="table" id="event_table">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Date/Time</th>
                <th scope="col">Event Name</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<!-- modal
<div class="modal" id="eventmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="hiperlink-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="embed-responsive embed-responsive-16by9" id="event_id"></div>
            </div>
        </div>
    </div>
</div> -->

<!-- Event Form -->
<div class="modal" id="eventFormmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <!-- <form id="eventForm" method="post" class="was-validated">  -->
                <div class="modal-header">
                    <h5 class="modal-title">Event Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="eventForm" method="post"> 
                        {% csrf_token %}
                    <div class="form-group row">
                        <label for="event_name" class="col-lg-3 col-form-label">Event Name</label>
                        <div class="col-lg-9">
                            <input type="text" name="event_name" class="form-control" id="event_name" placeholder="Event Name Here" readonly>
                        </div>
                        <div class="invalid-feedback">Example invalid feedback text</div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-lg-3 col-form-label">Location</label>
                        <div class="col-lg-9">
                            <input type="text" name="location" class="form-control" id="location" placeholder="Location Here" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date_time" class="col-lg-3 col-form-label">Date/Time</label>
                        <div class="col-lg-9">
                            <input type="text" name="date_time" class="form-control" id="date_time" placeholder="Date Time Here">
                        </div>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button id="songFormSubmit" class="btn btn-primary">Save</button>
                    <button id="songFormReset" class="btn btn-secondary">Reset</button>
                </div>
        </div>
    </div>
</div>



